.select {
  margin-left: auto;
  // outline: 1px solid red;
  border: none;
  color: var(--dark);

  & [class*="-control"] {
    cursor: pointer;
    box-shadow: none;
    border: none;
    background-color: transparent;
  }

  & [class*="-ValueContainer"] {
    padding: 0px;
  }

  & [class*="-Input"] {
    color: var(--white);
  }

  & [class*="-singleValue"] {
    color: var(--white);
    transition: all 0.3s ease;
  }

  & [class*="-placeholder"] {
    color: var(--white);
    transition: all 0.3s ease;
  }

  & [class*="-indicatorContainer"] {
    color: var(--white);
    transition: all 0.3s ease;
  }

  &:hover {
    // arrow
    & [class*="-indicatorContainer"] {
      color: var(--yellow-hover);
    }

    & [class*="-placeholder"] {
      color: var(--yellow-hover);
    }

    & [class*="-singleValue"] {
      color: var(--yellow-hover);
    }
    // vertical divider
    // [class*="-indicatorSeparator"] {
    //   color: var(--yellow-hover);
    // }
  }

  &:focus-within {
    & [class*="-indicatorContainer"] {
      color: var(--yellow);
      transform: rotate(180deg);
    }

    & [class*="-placeholder"] {
      color: var(--yellow);
    }

    & [class*="-singleValue"] {
      color: var(--yellow);
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(2rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.menu {
  animation: fadeIn 0.2s ease-in-out;
}

.react-select {
  &__menu {
    margin: 0 !important;
    padding: 14px 0px;
    width: 100px !important;
    min-width: 100%;
    background-color: var(--dark) !important;
    border: 1px solid red;
    left: -10px;

    &-list {
      padding: 0 !important;
    }
  }

  &__option {
    display: flex !important;
    align-items: center;
    background-color: transparent !important;
    color: #fff !important;
    cursor: pointer !important;
    line-height: 21px;
    padding-left: 12px !important;
    padding-right: 12px !important;
    &:hover {
      background: rgba(44, 62, 103, 0.2) !important;
      border-right: 2px solid #e9b109 !important;
      color: var(--yellow) !important;
    }
  }
}
