.calculator {
  display: flex;
  flex-direction: column;
  gap: 25px;
  max-width: fit-content;
}

.resetButton {
  border: 2px solid var(--dark);
  color: var(--dark);
  padding: 8px 24px !important;
}
