.container {
  padding: 0 4.375rem;
  width: 100%;
}

.myTransition {
  transition: var(--transition-property) var(--transition-duration)
    var(--transition-function);
}

.fitContent {
  width: fit-content;
}

.buttonsContainer {
  display: flex;
  gap: 23.5px;
}

@media (max-width: 768px) {
  .container {
    padding: 1.4rem;
  }
}
