.button {
  position: relative;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  gap: 10px;
  min-height: inherit;
  border-radius: 4px;
  overflow: hidden;
  border: none;
  outline: none;
  cursor: pointer;
  background: transparent;
  color: black;
  stroke: black;

  &_variant {
    &_primary {
      border: 2px solid var(--yellow);
      background: var(--yellow);
      color: var(--dark);
      stroke: var(--dark);

      &:hover {
        background: var(--yellow-hover);
        border-color: var(--yellow-hover);
      }

      &:active {
        background: var(--yellow);
        border-color: var(--yellow);
      }

      &.disabled {
        background: var(--light-grey);
      }

      &.loading {
        .loader {
          background: var(--primary);
        }
      }
    }

    &_text {
      border: none;
      background: none;
      color: var(--white);
      stroke: var(--white);

      &:hover {
        opacity: 0.8;
      }

      &.loading {
        .loader {
          background: var(--white);
        }
      }
    }
  }

  &_width {
    &_content {
      width: fit-content;
    }
    &_full {
      width: 100%;
    }
  }

  &_size {
    &_sm {
      height: 29px;
      padding: 0 10px;
    }

    &_md {
      height: 33px;
      padding: 8px 24px;
    }

    &_lg {
      height: 37px;
      padding: 0 18px;
    }
  }

  &_icon_position {
    &_left {
      flex-direction: row;
    }

    &_right {
      flex-direction: row-reverse;
    }
  }

  * {
    pointer-events: none;
  }
}

.disabled {
  cursor: not-allowed;
  opacity: 0.7;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 0;
  --transition-time: 0s;
  background: var(--button-bg-color);
}

.loading {
  cursor: default;

  .loader {
    opacity: 1;
    --transition-time: 0.3s;

    svg {
      animation: spin 1s linear infinite;
    }

    @keyframes spin {
      100% {
        transform: rotate(360deg);
      }
    }
  }
}
